.forecast {
  position: 'relative';
  width: 100%;
  min-height: 300px;
  transition: opacity .4s ease-in;
  padding-bottom: 3rem;
}

.theme-light {
  color: black;
}

.theme-dark {
  color: white;
}
