.theme-light {
  color: black;
  background-image: url('/bg-light.png');
}
.theme-light a {
  color: mediumblue;
}

.theme-dark {
  color: white;
  background-image: url('/bg-dark.png');
}
.theme-dark a {
  color: deepskyblue;
}

.frame {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  background-size: 300px;
  display: grid;
  grid-template-columns: 100vw;
  align-items: center;
}

.container {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  transition-property: color, background-color;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.frame h1 {
  margin: .3em;
}

.frame h3 {
  text-align: center;
}

.frame a {
  transition: color .4s linear;
}
.frame a:focus, .frame a:hover {
  text-decoration: underline;
}

.frame div.map {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.frame div.weather,
.frame div.forecast,
.frame div.weekForecast {
  z-index: 2;
  position: relative;
}
.main {
  position: relative;
  z-index: 0;
}

.frame div.options, .frame div.langs {
  margin: .3em .5em .3em .3em;
}

.frame div.options {
  float: left;
}

.frame div.options label, .frame div.options input {
  cursor: pointer;
}

.frame div.langs {
  float: right;
}
