.container {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
/* The following is to keep the image centered as it overflows,
  which happens when the viewport is narrowed,
  while fetching the next image is being debounced.
  See https://stackoverflow.com/a/28233945/157949
  for details on this trick. */
.container > span {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}

.youAreHere {
  filter: blur(5px);
}
